PORT=3000
SERVICE_NAME=ticket-api
NODE_ENV=development

# MySQL Configuration
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=tickets_dev
MYSQL_ROOT_PASSWORD=pass
MYSQL_USER=tickets_user
MYSQL_PASSWORD=pass
MYSQL_ADMIN_USER=admin
MYSQL_ADMIN_PASSWORD=adminpass

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=rabbitmq    
RABBITMQ_PORT=5672

