# Node.js dependencies
node_modules/
npm-debug.log*

# Environment variables
.env
.vscode/

# Prisma
prisma/dev.db
prisma/dev.db-journal
.prisma/

# Build artifacts
dist/
build/

# OS
.DS_Store
*.log
